In [2]:
import sqlite3;

database_paastocht = "/Users/ernestjanssen/Zwerfbond/Paastocht/2022/map_data_2022.mbtiles"
database_HH = "/Users/ernestjanssen/Zwerfbond/Hemelse Hike/2022/map_data_HH_2022.mbtiles"

In [24]:
db_mbtiles = sqlite3.connect(database_paastocht)
c_mbtiles = db_mbtiles.cursor()
sql = "SELECT * FROM 'metadata' WHERE name = ?"
value = ('days', )
c_mbtiles.execute(sql,value)
myresult = c_mbtiles.fetchall()
db_mbtiles.close()

In [25]:
# print(bbox[3])
print(myresult[0][1].split(','))
# bbox = myresult[0][1].split(',')
# print(bbox)
# x = 49.2364
# print(type(x))

# print(x<float(bbox[1]))

IndexError: list index out of range

In [ ]:
db_mbtiles = sqlite3.connect(database)
c_mbtiles = db_mbtiles.cursor()
sql = "SELECT name FROM sqlite_master WHERE type = 'table' AND name NOT LIKE 'sqlite_%' ORDER BY 1;"
c_mbtiles.execute(sql)
myresult = c_mbtiles.fetchall()
db_mbtiles.close()
print(myresult)

In [ ]:
db_mbtiles = sqlite3.connect(database_paastocht)
c_mbtiles = db_mbtiles.cursor()
sql = "SELECT name FROM PRAGMA_TABLE_INFO('metadata');"
c_mbtiles.execute(sql)
myresult = c_mbtiles.fetchall()
db_mbtiles.close()
print(myresult[0])

In [ ]:
db_mbtiles = sqlite3.connect(database_HH)
c_mbtiles = db_mbtiles.cursor()
sql = "UPDATE metadata SET value = 'Hemelse Hike 2022' WHERE name = ?"
value = ('name',)
c_mbtiles.execute(sql,value)
db_mbtiles.commit()
print("Total number of rows updated :", db_mbtiles.total_changes)
myresult = c_mbtiles.fetchall()
db_mbtiles.close()
print(myresult)

In [ ]:
db_mbtiles = sqlite3.connect(database_HH)
c_mbtiles = db_mbtiles.cursor()
sql = "SELECT * FROM metadata"
c_mbtiles.execute(sql)

myresult = c_mbtiles.fetchall()
db_mbtiles.close()
print(myresult)

In [37]:
DAYS_HH = "dag 1, dag 2 (afkorting), dag 2, dag 3, dag 4"
DAYS_paastocht = "dag 1, dag 2, dag 3, dag 4 (4 daagse), dag 4 (6 daagse), dag 5, dag 6"

db_mbtiles = sqlite3.connect(database_HH)
c_mbtiles = db_mbtiles.cursor()
sql = "INSERT INTO metadata (name,value) VALUES ('days', ?);"
value = (DAYS_HH,)
c_mbtiles.execute(sql,value)
db_mbtiles.commit()
myresult = c_mbtiles.fetchall()
db_mbtiles.close()
print(myresult)

[]

In [38]:
db_mbtiles = sqlite3.connect(database_HH)
c_mbtiles = db_mbtiles.cursor()
sql = "SELECT * FROM 'metadata' WHERE name = ?"
value = ('days', )
c_mbtiles.execute(sql,value)
myresult = c_mbtiles.fetchall()
db_mbtiles.close()
print(myresult[0][1].split(', '))

['dag 1', 'dag 2 (afkorting)', 'dag 2', 'dag 3', 'dag 4']

In [36]:
db_mbtiles = sqlite3.connect(database_HH)
c_mbtiles = db_mbtiles.cursor()
sql = "DELETE FROM metadata WHERE name=?"
value=("days",)
c_mbtiles.execute(sql,value)
db_mbtiles.commit()

myresult = c_mbtiles.fetchall()
db_mbtiles.close()
print(myresult)

[]

In [8]:
DAYS = ["dag 1","dag 2","dag 3","dag 4 (4 daagse)","dag 4 (6 daagse)","dag 5","dag 6"]

list